.footer{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      margin: 40px 0px 0px 0px;
      width: 100%;
      height: auto;
      background-color: var(--azul-verde);
      color: var(--branco);
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .txt-footer{
    font-family: 'Noto Serif', serif;
  }
  
  .img-footer{
      width: 50px;
      height: 50px;
      border-radius: 7px;
  }
  
  .lista-footer{
      display: flex;
      list-style-type: none;
  }
  .item-footer{
      padding: 10px 5px 10px 5px;
  }