.swiper{
    width: 100%;
    height: 100%;
    
    }
    .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    }
    .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: 70% 100%;
    
    }
    .carrossel{
    width: 100%;
    height: 80vh;
    }


    .titulo-carrossel{
    font-family: 'Jost', sans-serif;
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: var(--amarelo);
    background-color: #d2001977;
  }

  .link-carrossel{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      font-family: 'Jost', sans-serif;
      text-decoration: none;
      color: black;
      font-size: 1.8rem;
      background-color: rgb(66, 204, 119);
      border-radius: 50px;
      padding: 10px 20px ;
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 3;
      border: 2px solid var(--verde);
  }
  .link-carrossel:hover{
    background-color: var(--verde);
    color: var(--branco);
    border: 2px solid white;
  }
  .link-carrossel:focus{
    background-color: var(--ciano);
    color: black;
    border: 2px solid rgb(6, 163, 6);
    }

 



  .aneis{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-top: 3rem;
  border-radius: 20px;
  width:40%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  background-color:var(--azul-verde);
  /* padding: 25px; */
  margin: 10px auto;
  }

.div-aneis{
text-align: center;
font-size: 1.5rem;
color: var(--branco);
width:100%;
height:100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}


.div-aneis ul{
  list-style-type: none;
}


.div-aneis li{
color: var(--ciano);
}
.div-aneis li:hover{
color: var(--amarelo);
text-decoration: underline;
}
.div-aneis ul h3{
  margin-top: 10rem;
  padding: 5px 0px;
  text-transform: capitalize;
}


.img-aneisd{
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
width:100%;
height:100%;
object-fit: fill;
border-radius: 0px 15px 15px 0px;
}

.img-aneise{
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
width:100%;
height:100%;
object-fit: fill;
border-radius: 15px 0px 0px 15px;
}
